
<div class="row">
    <div class="col">
        <h2>*ngIf</h2>
        <hr>

        <div *ngIf="status" class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ quote.author }}</h5>
                <p class="card-text">{{ quote.message }}</p>
            </div>
        </div>

        <button (click)="status = !status" class="btn btn-outline-primary btn-block">Click me</button>
    </div>

    <div class="col">
        <h2>*ngFor</h2>
        <hr>

        <ul class="list-group">
            <li *ngFor="let avenger of avengers; let count = index" class="list-group-item">{{ count + 1 }}. {{ avenger }}</li>
        </ul>
    </div>
</div>



