<h1 class="mt-3">Pipes <small>(Angular)</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variables</th>
          <th>Pipe</th>
          <th>Output</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ username }}</td>
          <td>uppercase</td>
          <td>{{ username | uppercase }}</td>
        </tr>

        <tr>
          <td>{{ username }}</td>
          <td>lowercase</td>
          <td>{{ username | lowercase }}</td>
        </tr>

        <tr>
          <td>{{ username }}</td>
          <td>slice:1</td>
          <td>{{ username | slice:1 }}</td>
        </tr>

        <tr>
          <td>{{ username }}</td>
          <td>slice1:5</td>
          <td>{{ username | slice:1:5 }}</td>
        </tr>

        <tr>
          <td>{{ numbers }}</td>
          <td>slice1:5</td>
          <td>{{ numbers | slice:2:6 }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-3'</td>
          <td>{{ PI | number:'.0-3' }}</td>
        </tr>

        <tr>
          <td>{{ percent }}</td>
          <td>percent</td>
          <td>{{ percent | percent }}</td>
        </tr>

        <tr>
          <td>{{ percent }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ percent | percent:'2.2-2' }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency</td>
          <td>{{ salary | currency }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salary | currency:'EUR' }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency:'MXN':'symbol-narrow':'.0-0'</td>
          <td>{{ salary | currency:'MXN':'symbol-narrow':'.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ promise }}</td>
          <td>async</td>
          <td>{{ promise | async }}</td>
        </tr>

        <tr>
          <td>{{ today }}</td>
          <td>date</td>
          <td>{{ today | date }}</td>
        </tr>

        <tr>
          <td>{{ today }}</td>
          <td>date:'medium'</td>
          <td>{{ today | date:'medium' }}</td>
        </tr>

        <tr>
          <td>{{ today }}</td>
          <td>date:'short'</td>
          <td>{{ today | date:'short' }}</td>
        </tr>

        <tr>
          <td>{{ today }}</td>
          <td>date:'dd - MMM'</td>
          <td>{{ today | date:'dd - MMM' }}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<h2>Slices</h2>
<hr>
<ul class="list-group">
  <li *ngFor="let hero of heros | slice:0:2" class="list-group-item">{{ hero }}</li>
</ul>

<h2>JSON</h2>
<hr>
<div class="row mb-5">
  <div class="col">
    <pre>
      {{ socialMedia | json }}
    </pre>
  </div>
</div>
